body, h1, h2, p, ul {
    margin: 0px;
    padding: 0px;
  }
  
.about-container {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 50px auto;
}

.about-container h1, h2, h3 {
  color: #007BFF; /* Blue color */
}

.about-container h1 {
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.about-container h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

.about-container h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.about-container p {
  line-height: 1.5;
  margin-bottom: 15px;
}

.about-container ul {
  margin-bottom: 20px;
}

.about-container li {
  margin-bottom: 10px;
}

.about-container strong {
  color: #007BFF;
}



